## Read data

In [1]:
# China

In [2]:
import pandas as pd
def file_reader(path):
    df=pd.DataFrame()
    chunksize = 10 ** 6
    for chunk in pd.read_csv(path, chunksize=chunksize, index_col=[0]):
        df = df.append(chunk)
    return df

country='China'
data=file_reader('/Volumes/BECCA/Project/Data/Input/02_Preprocessing/04_Tweets/%s.csv' %country)

In [3]:
data

,tweet_text,tweet_time,suspend,polarity,subjectivity,polarity_number,subjectivity_number,hashtag,repeat_tag,unique_tag,ÈÉ≠ÊñáË¥µ
0,Necessity is the mother of invention,2019-10-18 21:21,True,neural,objective,0.000000,0.000000,[],False,[],False
1,#ÁóÖÊØí Constantly defying the will of the citize...,2020-03-26 05:09,True,negative,objective,-0.150000,0.316667,"['ÁóÖÊØí', 'ÁóÖÊØí']",True,['ÁóÖÊØí'],False
2,#ËÇ∫ÁÇé #ÁóÖÊØí The priceless life should not be the...,2020-03-28 02:37,True,positive,objective,0.308333,0.383333,"['ËÇ∫ÁÇé', 'ÁóÖÊØí']",False,"['ËÇ∫ÁÇé', 'ÁóÖÊØí']",False
3,"Want to see the walking dead, but feel a littl...",2019-10-30 05:57,True,negative,objective,-0.193750,0.450000,[],False,[],False
4,Maybe should call that Kekong? #HongKong #Keki...,2020-01-03 01:39,True,neural,objective,0.000000,0.000000,"['HongKong', 'Kekistan']",False,"['HongKong', 'Kekistan']",False
...,...,...,...,...,...,...,...,...,...,...,...
44293,@ace_critic @realDonaldTrump @narendramodi The...,2020-07-23 02:48:38,False,neural,objective,0.000000,0.000000,[],False,[],False
44294,RT @F1Bathurst2015: @catherine___c @tyrelle123...,2020-07-23 09:24:57,False,positive,subjective,0.077778,0.544444,[],False,[],False
44295,RT @YeOldHongKonger: .\nBioterorist Xi Jinping...,2020-07-23 00:25:19,False,neural,objective,0.000000,0.100000,[],False,[],False
44296,@GauravS101418 @narendramodi Hahaha... So u ex...,2020-07-23 01:57:29,False,positive,objective,0.200000,0.400000,[],False,[],False
44297,RT @LawrenceGostin: The public hardly knows al...,2020-07-22 16:58:31,False,positive,objective,0.069444,0.369444,[],False,[],False

## Day

In [4]:
from datetime import datetime
hour=[]
minute=[]
day=[]
for i in range(len(data)):
    if len(str(data.tweet_time[i])) < 16:
        data=data.drop([i],axis=0)
    elif len(str(data.tweet_time[i])) == 16:
        j=datetime.strptime(data.tweet_time[i],'%Y-%m-%d %H:%M')
        hour.append(j.hour)
        minute.append(j.minute)
        day.append(j.weekday())
    elif len(str(data.tweet_time[i])) == 19:
        j=datetime.strptime(data.tweet_time[i],'%Y-%m-%d %H:%M:%S')
        hour.append(j.hour)
        minute.append(j.minute)
        day.append(j.weekday())

In [5]:
data['day']=day
data['hour']=hour
data['minute']=minute
for i in data.day:
    if i == 0:
        i=7

In [6]:
data

,tweet_text,tweet_time,suspend,polarity,subjectivity,polarity_number,subjectivity_number,hashtag,repeat_tag,unique_tag,ÈÉ≠ÊñáË¥µ,day,hour,minute
0,Necessity is the mother of invention,2019-10-18 21:21,True,neural,objective,0.000000,0.000000,[],False,[],False,4,21,21
1,#ÁóÖÊØí Constantly defying the will of the citize...,2020-03-26 05:09,True,negative,objective,-0.150000,0.316667,"['ÁóÖÊØí', 'ÁóÖÊØí']",True,['ÁóÖÊØí'],False,3,5,9
2,#ËÇ∫ÁÇé #ÁóÖÊØí The priceless life should not be the...,2020-03-28 02:37,True,positive,objective,0.308333,0.383333,"['ËÇ∫ÁÇé', 'ÁóÖÊØí']",False,"['ËÇ∫ÁÇé', 'ÁóÖÊØí']",False,5,2,37
3,"Want to see the walking dead, but feel a littl...",2019-10-30 05:57,True,negative,objective,-0.193750,0.450000,[],False,[],False,2,5,57
4,Maybe should call that Kekong? #HongKong #Keki...,2020-01-03 01:39,True,neural,objective,0.000000,0.000000,"['HongKong', 'Kekistan']",False,"['HongKong', 'Kekistan']",False,4,1,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44293,@ace_critic @realDonaldTrump @narendramodi The...,2020-07-23 02:48:38,False,neural,objective,0.000000,0.000000,[],False,[],False,3,2,48
44294,RT @F1Bathurst2015: @catherine___c @tyrelle123...,2020-07-23 09:24:57,False,positive,subjective,0.077778,0.544444,[],False,[],False,3,9,24
44295,RT @YeOldHongKonger: .\nBioterorist Xi Jinping...,2020-07-23 00:25:19,False,neural,objective,0.000000,0.100000,[],False,[],False,3,0,25
44296,@GauravS101418 @narendramodi Hahaha... So u ex...,2020-07-23 01:57:29,False,positive,objective,0.200000,0.400000,[],False,[],False,3,1,57
44297,RT @LawrenceGostin: The public hardly knows al...,2020-07-22 16:58:31,False,positive,objective,0.069444,0.369444,[],False,[],False,2,16,58

In [7]:
df=data[['tweet_text','polarity','polarity_number','subjectivity','subjectivity_number','repeat_tag','ÈÉ≠ÊñáË¥µ','day','hour','minute','suspend']]

In [8]:
df=df.rename(columns={'ÈÉ≠ÊñáË¥µ':'freq_tag'})
df

,tweet_text,polarity,polarity_number,subjectivity,subjectivity_number,repeat_tag,freq_tag,day,hour,minute,suspend
0,Necessity is the mother of invention,neural,0.000000,objective,0.000000,False,False,4,21,21,True
1,#ÁóÖÊØí Constantly defying the will of the citize...,negative,-0.150000,objective,0.316667,True,False,3,5,9,True
2,#ËÇ∫ÁÇé #ÁóÖÊØí The priceless life should not be the...,positive,0.308333,objective,0.383333,False,False,5,2,37,True
3,"Want to see the walking dead, but feel a littl...",negative,-0.193750,objective,0.450000,False,False,2,5,57,True
4,Maybe should call that Kekong? #HongKong #Keki...,neural,0.000000,objective,0.000000,False,False,4,1,39,True
...,...,...,...,...,...,...,...,...,...,...,...
44293,@ace_critic @realDonaldTrump @narendramodi The...,neural,0.000000,objective,0.000000,False,False,3,2,48,False
44294,RT @F1Bathurst2015: @catherine___c @tyrelle123...,positive,0.077778,subjective,0.544444,False,False,3,9,24,False
44295,RT @YeOldHongKonger: .\nBioterorist Xi Jinping...,neural,0.000000,objective,0.100000,False,False,3,0,25,False
44296,@GauravS101418 @narendramodi Hahaha... So u ex...,positive,0.200000,objective,0.400000,False,False,3,1,57,False
44297,RT @LawrenceGostin: The public hardly knows al...,positive,0.069444,objective,0.369444,False,False,2,16,58,False

In [9]:
df.to_csv('/Volumes/BECCA/Project/Data/Input/02_Preprocessing/05_Final/%s.csv' %country)

In [10]:
# Russia

In [11]:
country='Russia'
data=file_reader('/Volumes/BECCA/Project/Data/Input/02_Preprocessing/04_Tweets/%s.csv' %country)

In [12]:
from datetime import datetime
hour=[]
minute=[]
day=[]
for i in range(len(data)):
    if len(str(data.tweet_time[i])) < 16:
        data=data.drop([i],axis=0)
    elif len(str(data.tweet_time[i])) == 16:
        j=datetime.strptime(data.tweet_time[i],'%Y-%m-%d %H:%M')
        hour.append(j.hour)
        minute.append(j.minute)
        day.append(j.weekday())
    elif len(str(data.tweet_time[i])) == 19:
        j=datetime.strptime(data.tweet_time[i],'%Y-%m-%d %H:%M:%S')
        hour.append(j.hour)
        minute.append(j.minute)
        day.append(j.weekday())

In [13]:
data['day']=day
data['hour']=hour
data['minute']=minute
for i in data.day:
    if i == 0:
        i=7

In [14]:
data

,tweet_text,tweet_time,suspend,polarity,subjectivity,polarity_number,subjectivity_number,hashtag,repeat_tag,unique_tag,day,hour,minute
0,"Barcelona is so sunny and nice at Vmworld, tre...",2013-10-13 10:32,True,positive,subjective,0.400000,0.600000,[],False,[],6,10,32
1,Linear -up and ‚Äìout scaling on disk and node l...,2013-10-15 12:30,True,positive,objective,0.200000,0.200000,['vmworld'],False,['vmworld'],1,12,30
2,open for a surprise https://t.co/YrU8x3AhGC,2017-08-05 11:27,True,neural,neural,0.000000,0.500000,[],False,[],5,11,27
3,MY HEART üò≠‚ù§Ô∏è https://t.co/iKrYLK5apF,2016-03-15 12:21,True,neural,objective,0.000000,0.000000,[],False,[],1,12,21
4,cows are just big grass puppies https://t.co/6...,2017-04-28 20:26,True,negative,objective,-0.066667,0.133333,[],False,[],4,20,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54165,RT @spacebongmilk: My girl can be butt ass nak...,2020-07-22 18:19:46,False,neural,objective,0.000000,0.233333,[],False,[],2,18,19
54166,"Not a win again, but people that understands f...",2020-07-23 02:29:33,False,positive,objective,0.200000,0.400000,[],False,[],3,2,29
54167,RT @alizawhoo: @lanascouture A girl can walk o...,2020-07-22 16:56:46,False,positive,objective,0.200000,0.400000,[],False,[],2,16,56
54168,People don't understand what football means to...,2020-07-23 07:04:00,False,negative,objective,-0.206250,0.443750,[],False,[],3,7,4
54169,@Hb_0L üòÇüòÇüòÇ nah we‚Äôre fair people.. Liverpool d...,2020-07-22 22:45:34,False,positive,subjective,0.750000,0.825000,[],False,[],2,22,45

In [15]:
df=data[['tweet_text','polarity','polarity_number','subjectivity','subjectivity_number','repeat_tag','day','hour','minute','suspend']]

In [16]:
df

,tweet_text,polarity,polarity_number,subjectivity,subjectivity_number,repeat_tag,day,hour,minute,suspend
0,"Barcelona is so sunny and nice at Vmworld, tre...",positive,0.400000,subjective,0.600000,False,6,10,32,True
1,Linear -up and ‚Äìout scaling on disk and node l...,positive,0.200000,objective,0.200000,False,1,12,30,True
2,open for a surprise https://t.co/YrU8x3AhGC,neural,0.000000,neural,0.500000,False,5,11,27,True
3,MY HEART üò≠‚ù§Ô∏è https://t.co/iKrYLK5apF,neural,0.000000,objective,0.000000,False,1,12,21,True
4,cows are just big grass puppies https://t.co/6...,negative,-0.066667,objective,0.133333,False,4,20,26,True
...,...,...,...,...,...,...,...,...,...,...
54165,RT @spacebongmilk: My girl can be butt ass nak...,neural,0.000000,objective,0.233333,False,2,18,19,False
54166,"Not a win again, but people that understands f...",positive,0.200000,objective,0.400000,False,3,2,29,False
54167,RT @alizawhoo: @lanascouture A girl can walk o...,positive,0.200000,objective,0.400000,False,2,16,56,False
54168,People don't understand what football means to...,negative,-0.206250,objective,0.443750,False,3,7,4,False
54169,@Hb_0L üòÇüòÇüòÇ nah we‚Äôre fair people.. Liverpool d...,positive,0.750000,subjective,0.825000,False,2,22,45,False

In [17]:
df.to_csv('/Volumes/BECCA/Project/Data/Input/02_Preprocessing/05_Final/%s.csv' %country)